@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.header_bg {
  background: url("../public/bg.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 54vh;

}

         
.btn-grad {
  background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%);
  margin: 10px;
  padding: 15px 27px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  /* box-shadow: 0 0 5px #eee; */
  border-radius: 10px;
  display: block;
  font-size: 16px;
}

.btn-grad-sm {
  padding: 10px 20px;
}

.btn-grad:hover {
  background-position: right center; 
  color: #fff;
  text-decoration: none;
}

